.sprite {
    height: 200px;
    margin-top: 500px;
    margin-left: 100px;
    position: absolute;
}

.background {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/bbb.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    position: absolute;
    overflow-x: hidden;
}

.scorebox {
    margin-top: 0px;
    margin-left: 0px;
    border: none;
    border-radius: 30px;
    position: fixed;
    width: 150px;
    height: 150px;
    background-image: url("./assets/images/gg.jpg");
    background-size: contain;
}

.number {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    margin-left: 50px;
    margin-top: 90px;
    color: red;
}

.score {
    font-size: 20px;
    position: absolute;
    margin-left: 0px;
    margin-top: 97px;
    color: yellow;
}

.body {
    margin: 0px;
}

.skull {
    width: 100px;
    height: 200px;
    background-image: url("./assets/images/skeletonee.gif");
    margin-top: 500px;
    position: absolute;
    background-size: contain;
}

.end {
    position: absolute;
    visibility: hidden;
    background-image: url("./assets/images/lost.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 50px;
    font-weight: bold;
    color: black;
    width: 100vw;
    height: 100vh;
}

.button {
    width: 400px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: red;
    border: none;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 50px;
    background-color: rgb(234, 219, 18);
    cursor: pointer;
    margin-left: 1430px;
    margin-top: 10px;
    position: absolute;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/images/welcome.jpg");
    position: absolute;
    background-size: cover;
    visibility: visible;
}

.bttn {
    width: 400px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: green;
    border: none;
    border-radius: 50px;
    background-color: blue;
    cursor: pointer;
}

.win {
    position: absolute;
    visibility: hidden;
    background-image: url("./assets/images/win.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    font-size: 90px;
    font-weight: bold;
    color: rgb(19, 19, 8);
    width: 100vw;
    height: 100vh;
}